{% extends 'front/frontbase.html.twig' %}

{% block title %}GlowApp{% endblock %}
{% block body %}



       
<br>
<center>
     <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
     
  <div class="toast-header">
    <strong class="me-auto">{{publications.getTitreP()}}</strong><span class="badge bg-secondary">{{publications.gettypep()}}</span>
    <small>{{ publications.getDatecrP()|date('Y-m-d') }}</small>
    
  </div>
  <div class="toast-body">
    {{publications.getContenueP()}}
  </div>
</div>
</center>
<br>   
{% endblock %}