<div class="row">
<div class="col-xs-12 col-md-8" style="margin:0 auto">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
</div>