{% extends 'base.html.twig' %}

{% block title %}Edit Objectif{% endblock %}

{% block body %}
    <h1>Edit Objectif</h1>

    {{ include('front/objectif/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_objectif_index') }}">back to list</a>

    {{ include('front/objectif/_delete_form.html.twig') }}
{% endblock %}
