{% extends 'base.html.twig' %}

{% block title %}Payment Cancelled{% endblock %}

{% block body %}
    <div class="container">
        <h1>Payment Cancelled</h1>
        <p>Your payment was not completed. You can try again or continue browsing the products.</p>
        <a href="{{ path('app_produitfront') }}" class="btn btn-primary">Return to Products</a>
    </div>
{% endblock %}
