<div class="row">
<div class="col-xs-12 col-md-8" style="margin:0 auto">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
</div>
{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {# Inclure jQuery #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> {# Inclure le plugin de datepicker Bootstrap #}

    <script>
        $(document).ready(function() {
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd', // Format de date
                autoclose: true, // Fermer automatiquement le calendrier après la sélection
                todayHighlight: true, // Mettre en surbrillance la date actuelle
                // Ajoutez d'autres options de configuration selon vos besoins
            });
        });
    </script>
{% endblock %}
</div>
</div>