{% extends 'back/backbase.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <h1>Create new Reservation</h1>

    {{ include('back/reservation_admin/_form.html.twig') }}

    <a href="{{ path('app_reservation_admin_index') }}">back to list</a>
    <a href="https://www.facebook.com/profile.php?id=61555827582085" target="_blank" rel="noopener noreferrer">Partager sur la page Facebook du site</a>

{% endblock %}
