{% extends 'front/frontbase.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="alert alert-success" role="alert">
            Votre réservation a été enregistrée avec succès !
        </div>
        <div class="qrCode" >
          <img src="{{Reservation.qrCode}}" />
          <a href="{{Reservation.qrCode}}" download > Telecharger </a>
        </div>     
    </div>
</div>

{% endblock %}
