{% extends 'front/basefrontone.html.twig' %}

{% block title %}New Program{% endblock %}

{% block body %}
    <h1>Create new Program</h1>
<a href="{{ path('app_programme_index') }}" class="btn border border-secondary rounded-pill px-3 text-primary"> back to list</a>
    {{ include('front/programme/_form.html.twig') }}

   
    
{% endblock %}
